.btn-group.open .btn-danger.dropdown-toggle {
	background-color: #b32b21;
}

.btn-primary .caret,.btn-warning .caret,.btn-danger .caret,.btn-info .caret,.btn-success .caret,.btn-inverse .caret {
	border-top-color: #ffffff;
	border-bottom-color: #ffffff;
}

.btn-primary.active,.btn-warning.active,.btn-danger.active,.btn-success.active,.btn-info.active,.btn-inverse.active {
	color: rgba(255, 255, 255, 0.75);
}


.btn-danger {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #cc4036;
	background-image: -moz-linear-gradient(top, #dc4e44, #b32b21);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dc4e44), to(#b32b21));
	background-image: -webkit-linear-gradient(top, #dc4e44, #b32b21);
	background-image: -o-linear-gradient(top, #dc4e44, #b32b21);
	background-image: linear-gradient(to bottom, #dc4e44, #b32b21);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdc4e44', endColorstr='#ffb32b21', GradientType=0);
	border-color: #b32b21 #b32b21 #721c15;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*background-color: #b32b21;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.btn-danger:hover,.btn-danger:focus,.btn-danger:active,.btn-danger.active,.btn-danger.disabled,.btn-danger[disabled] {
	color: #ffffff;
	background-color: #b32b21;
	*background-color: #9d261d;
}

.btn-danger:active,.btn-danger.active {
	background-color: #872119 \9;
}


.btn-large {
	padding: 11px 19px;
	font-size: 17.5px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.btn-large [class^="icon-"],.btn-large [class*=" icon-"] {
	margin-top: 4px;
}

button.btn.btn-large,input[type="submit"].btn.btn-large {
	*padding-top: 7px;
	*padding-bottom: 7px;
}

.btn-group>.btn-large {
	font-size: 17.5px;
}

.btn-large .caret {
	margin-top: 6px;
}

.btn-large .caret {
	border-left-width: 5px;
	border-right-width: 5px;
	border-top-width: 5px;
}