<div class="form  form--contack">
    <form action="https://formspree.io/sunu4@foxmail.com" method="POST" class="form-stacked">
        <p>欢迎各种拍砖，我们会努力回复每一封邮件。:)</p>
        <input type="text" name="email" class="field-light" placeholder="你的邮箱地址">
        <textarea type="text" name="content" class="field-light" rows="5" placeholder=" 你的意见，或者吐槽。。。"></textarea>
        <input type="hidden" name="_format" value="plain" />
        <input type="hidden" name="_next" value="/thanks/" />
        <input type="hidden" name="_subject" value="New submission!" />
        <input type="text" name="_gotcha" style="display:none" />
        <input type="submit" class="btn btn-primary mobile-block p2 right mb2" value="发送" style="max-width: 200px">
      </form>
</div>